fa-search{
	font-size: 12px;
	margin-left: 28%;
}
#inputpesquisa{
	width: 500px;
	height: 30px;
	border-radius: 0;
	margin-top: -1%;
}
#iconinput{
	width: 60px;
	margin-top: -8%;
}
.dropdown a{
	color: gray;
	text-decoration: none
}
.dropdown{
	margin-right: -19%;
}
.dropdown img{
	margin-right: 3%;

}
.icone{
	margin-left: 18%;
	margin-top: 0.5%;
	float:left;
}
.iconetexto{
	margin-top: 1%;
}

#botaologin a{
	text-decoration: none;
	font-size: 14px;
	font-family:'Noto';
}
#botaologin{
	border: none;
	background-color: white;
	margin-left: 1%;
}
#dropdown2{
	margin-top: 180%;
	width: 350px;
	margin-right: -180%;
	font-size: 17px;
}
.dropdown-menu{
	border-radius: 0;
	font-size: 14px;
	font-family: Arial;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#dropdown3{
	width: 400px;
	margin-top: 180%;
	margin-right: -180%;
}
#linhas{
	margin-right: -20%;
	margin-left: 0.5%;
}
.container-fluid{
	border-top-style: solid;
	border-top-width: 3px;
	border-top-color: #EFEFEF;
}
#colesquerda{
	background-color: #F5F5F5;
	padding:0;
	margin-left: -2%;
	padding-top: 0.5%;
	font-size: 16px;
}
.botao{
	background-color:#F5F5F5;
	border:0;
	width: 100%;
}
.botao a{
	text-decoration: none;
	color: black;
	font-size: 16px;
	font-family:Arial;
}
#inicio{
	background-color:#D3D3D3;
	border-radius:0;
}
#colesquerda button:hover{
	background-color: #EFEFEF;
}
#coldireita{
	background-color:#FAFAFA;
}
#propagandas{
	height:50%;
	margin-top: 2%;
}
#propaganda1{
	margin-left: 50%;
	width: 400px;
}
.links{
	margin-left: 26%;
}
.links a{
	text-decoration: none;
	color:gray;
	font-family:Arial;
	font-size: 13px;
	font-weight: bold;
}
.links .row{
	margin-top: 2%;
}
#propaganda2{
	margin-left: 20%;
}
.youtube{
	margin-left: 8.25%;
}
#coldireita hr{
	width: 80%;
	margin-right: 12.5%;
}
.videos{
	margin-left: 6.5%;
}
.titulo{
	font-size: 14px;
	text-decoration: none;
	color: black;
	margin-bottom: 2.5%;
}
.titulo:hover{
	text-decoration: none;
	color: black;
}
.subtitulo{
	font-size: 14px;
	text-decoration: none;
	color: gray;
}
.subtitulo:hover{
	text-decoration:none;
	color: gray;
}
#videosemalta{
	margin-top: -22%;
}
#emalta{
	margin-top: -24%;
}
.videos .col .row{
	margin-left: 2%;
}
.video{
	margin-right: -15%;
}


.fa-plus-circle{
	font-size: 12px;
	color: lightgray;
}
/* FIM DA PAGINA 1 

========================================

 INÍCIO DA PAGINA 2 */

 #colunaesquerda{
 	margin-left: 4.5%;
 	margin-top: 1%;
 }
 #linhavideo{
 	width: 103%;
 }
 #fotoperfil{
 	border-radius: 50%;
 	width: 5%;
 	height:28%;
 	 }


 .user{
 	border-radius: 50%;
 	width: 3%; 
 	height: 2%;
 }
 #mostrarmais a:hover{
 	text-decoration:none;
 }
 #mostrarmais a{
 	color: gray;
 	font-size: 13px;
 }
 .comentario{
 	margin-left: 2.8%; margin-top: -1.3%; font-size: 13.5px
 }
 .nome{
 	font-weight:550; margin-top: 0.2%; font-size:13.5px;
 	color: black;
 }
 .nome:hover{
 	text-decoration: none;
 	color:black;
 }
 .horario{
 		margin-top: 0.2%
 }
 .arial{
 	font-family: Arial;
 }
 .likes{
 	margin-left: 2.8%;
 	margin-top: 0.5%;
 }
 .likes a{
 	color: gray;
 }
 .likes a:hover{
 	text-decoration: none;
 	color: black;
 }
.responder a:hover{
	text-decoration: none;
	color: black;
}

.deslike{
	margin-bottom: -10%;
}
.link:hover{
	text-decoration:none;
	color: black;
}
.link{
	color: gray;
}
.linhalikes a{
	color:gray;
}
.linhalikes a{
	text-decoration: none;
	color:gray;
}
.videorecomendado{
	margin-top: 3%;
	margin-left: -13%;
}
.videorecomendado a{
	color: black;
}
.videorecomendado a:hover{
	color: black;
	text-decoration: none;
}