.navbar-brand{
	margin-left: 4%;
}
.fa-search{
	font-size: 12px;
	margin-left: 28%;
}
#inputpesquisa{
	width: 540px;
	height: 28px;
	border-radius: 0;
	margin-top: -1%;
}
#iconinput{
	width: 60px;
	margin-top: -10%;
}
.dropdown a{
	color: gray;
	text-decoration: none
}
.dropdown{
	margin-right: -12%;
}

#margemesquerda{
}

#botaologin a{
	text-decoration: none;
	font-size: 15px;
	font-family: inherit;
}
#botaologin{
	border: none;
	background-color: white;
	margin-left: 2%;
}
