fa-search{
	font-size: 12px;
	margin-left: 28%;
}
#inputpesquisa{
	width: 500px;
	height: 28px;
	border-radius: 0;
	margin-top: -1%;
}
#iconinput{
	width: 60px;
	margin-top: -10%;
}
.dropdown a{
	color: gray;
	text-decoration: none
}
.dropdown{
	margin-right: -19%;
}
.dropdown img{
	margin-right: 3%;

}
.icone{
	margin-left: 18%;
	margin-top: 0.5%;
	float:left;
}
.iconetexto{
	float:right;
	margin-right: 50%;
	margin-top: 1%;
}

#botaologin a{
	text-decoration: none;
	font-size: 14px;
	font-family:'Noto';
}
#botaologin{
	border: none;
	background-color: white;
	margin-left: 1%;
}
#dropdown2{
	margin-top: 180%;
	width: 350px;
	margin-right: -180%;
	font-size: 17px;
}
.dropdown-menu{
	border-radius: 0;
	font-size: 14px;
	font-family: Arial;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#dropdown3{
	width: 350px;
	margin-top: 180%;
	margin-right: -180%;
}
#linhas{
	margin-right: -20%;
	margin-left: 0.5%;
}
.container-fluid{
	border-top-style: solid;
	border-top-width: 3px;
	border-top-color: #EFEFEF;
}
#colesquerda{
	background-color: #F5F5F5;
	padding:0;
	margin-left: -2%;
	padding-top: 0.5%;
}
.botao{
	background-color:#F5F5F5;
	border:0;
	width: 100%;
}
.botao a{
	text-decoration: none;
	color: black;
	font-size: 14px;
	font-family:Arial;
}
#inicio{
	background-color:#D3D3D3;
}
.botao img{
	margin-right: 2%;

}
#colesquerda button:hover{
	background-color: #EFEFEF;
}
#coldireita{
	background-color:#FAFAFA;
}
#propagandas{
	height:50%;
	margin-top: 2%;
}
#propaganda1{
	margin-left: 50%;
	width: 400px;

}
#propaganda2{
	margin-left: 16%;
}
.youtube{
	margin-left: 8.25%;
}
#coldireita hr{
	width: 80%;
	margin-right: 12.5%;
}
.videos{
	margin-left: 6.5%;
}
.titulo{
	font-size: 14px;
	text-decoration: none;
	color: black;
}
.titulo:hover{
	text-decoration: none;
	color: black;
}
.subtitulo{
	font-size: 12px;
	text-decoration: none;
	color: gray;
}
.subtitulo:hover{
	text-decoration:none;
	color: gray;
}
#videosemalta{
	margin-top: -3%;
}
#emalta{
	margin-top: -6%;
}
.videos .col .row{
	margin-left: 2%;
}
.video{
	margin-right: -14.5%;
}

/* FIM DA PAGINA 1 

========================================

 INÍCIO DA PAGINA 2 */

 #colunaesquerda{
 	margin-left: 4.5%;
 	margin-top: 1%;
 }
 #linhavideo{
 	width: 103%;
 }
 #fotoperfil{
 	border-radius: 50%;
 }
 #publicacao{
 	font-size: 12px;
 	margin-top: -6%;
 }
 #nomecanal{
 	margin-top: -50%;
 }
 .user{
 	border-radius: 50%;
 	width: 3%; 
 	height: 2%;
 }